---
import { astroI18n, t } from "astro-i18n";
import LayoutPortfolio from "../../../layouts/LayoutPortfolio.astro"
import IconLink from "../../../components/InlineIconLink.astro";

astroI18n.init(Astro);
---
<LayoutPortfolio title={t("portfolio/webp-title")}>
    <noscript class="warning">
        <section class="javascript-warning">
            <p>{t("portfolio/javascript-warning")}</p>
        </section>
    </noscript>
    <main class="portfolio">
        <section class="profile fullsize">
            <div class="info-box">
                <h1>hi, i'm nishant</h1>
                let me take you through some of the things i've made.
            </div>
        </section>
        <section class="salperth fullsize">
            <div class="info-box hidden left">
                <h1>{t("portfolio/salperth/h1")}</h1>
                <h2>{t("portfolio/salperth/h2")}</h2>
                {t("portfolio/salperth/p1")}
                <ul>
                    <li>
                        {t("portfolio/salperth/li-itch")} <IconLink icon="itch.svg" alt="itch icon link" href="https://ns-dawn.itch.io/salperth"></IconLink>
                    </li>

                </ul>
                {t("portfolio/salperth/p2")}
                <ul>
                    <li>
                        {t("portfolio/salperth/li-godot")} <IconLink icon="godot.svg" alt="godot icon link" href="https://godotengine.org/"></IconLink>
                    </li>
                    <li>
                        {t("portfolio/salperth/li-aseprite")} <IconLink icon="aseprite.png" alt="aseprite icon link" href="https://www.aseprite.org/"></IconLink>
                    </li>
                </ul>
            
            </div>
            <div class="images-wrapper hidden right">
                <div class="screenshots">
                    <img class="hidden right delay-1" src="/assets/img/portfolio/salperth-scsh-0.png" alt="salperth screenshot" />
                    <img class="hidden right delay-2"  src="/assets/img/portfolio/salperth-scsh-1.png" alt="salperth screenshot" />
                    <img class="hidden right delay-3" src="/assets/img/portfolio/salperth-scsh-2.png" alt="salperth screenshot" />
                </div>
                <div class="sprite">
                    <img src="/assets/img/portfolio/salperth-sprites.png" alt="salperth sprites">
                </div>
            </div>
        </section>
        <section class="kasa fullsize">
            <div class="images-wrapper hidden left">
                <div class="screenshots">
                    <img class="hidden right delay-1" src="/assets/img/portfolio/kasa-scsh-0.png" alt="salperth screenshot" />
                    <img class="hidden right delay-2"  src="/assets/img/portfolio/kasa-scsh-1.png" alt="salperth screenshot" />
                    <img class="hidden right delay-3" src="/assets/img/portfolio/kasa-scsh-2.png" alt="salperth screenshot" />
                </div>
                <div class="sprite">
                    <img src="/assets/img/portfolio/salperth-sprites.png" alt="salperth sprites">
                </div>
            </div>
            <div class="info-box hidden right">
                <h1>{t("portfolio/kasa/h1")}</h1>
                <h2>{t("portfolio/kasa/h2")}</h2>
                {t("portfolio/kasa/p1")}
            </div>
        </section>


        {[
            "/assets/img/portfolio/salperth-scsh-0.png",
            "/assets/img/portfolio/salperth-scsh-1.png",
            "/assets/img/portfolio/salperth-scsh-2.png",
            "/assets/img/portfolio/kasa-scsh-0.png",
            "/assets/img/portfolio/kasa-scsh-1.png",
            "/assets/img/portfolio/kasa-scsh-2.png",
        ].map((s) => {
            return (
                <link
                    rel="preload"
                    href={s}
                    as="image"
                    type="image/png"
                    slot="head"
                />
            )
        })}
        
    </main>

    
</LayoutPortfolio>

<style>
    main {
        padding: 5vh 3vw;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    section.fullsize {
        height: 80vh;
        margin: 3vh 0;
    } 
    section.salperth, section.kasa {
        overflow: hidden;
        & > * {
            flex: 1;
        }
        & > .info-box {
            flex: 1.5;
            z-index: 2;
        }
        & > .images-wrapper.right {
            display: grid;
            & > .screenshots {
                grid-row: 1; grid-column: 1;
                & > img {
                    transform: translateX(-25%) scale(1.5);
                    filter: opacity(0.5);
                }
                & > img:nth-child(2n) {
                    transform: translateX(-50%) scale(1.5);
                }
            }
            & > .sprite {
                grid-row: 1; grid-column: 1;
                display: flex; align-items: center;
                & img {
                    transform: translateX(0);
                    filter: drop-shadow(0 0 5px var(--rgb-text))
                }
            }
        } 
        & > .images-wrapper.left {
            display: grid;
            & > .screenshots {
                grid-row: 1; grid-column: 1;
                & > img {
                    transform: translateX(25%) scale(1.5);
                    filter: opacity(0.5);
                }
                & > img:nth-child(2n) {
                    transform: translateX(50%) scale(1.5);
                }
            }
            & > .sprite {
                grid-row: 1; grid-column: 1;
                display: flex; align-items: center;
                & img {
                    transform: translateX(0);
                    filter: drop-shadow(0 0 5px var(--rgb-text))
                }
            }
        } 
    }
    img {
        width: 100%;
    }

    .hidden {
        opacity: 0;
        transition: ease-in-out 0.5s;
        transition-delay: 0.25s;
        &.right {
            transform: translateX(100%);
            text-align: right;
        }
        &.left {
            transform: translateX(-100%);
            text-align: left;
        }
        &.delay-1 {
            transition-delay: 0.5s;
        }
        &.delay-2 {
            transition-delay: 0.75s;
        }
        &.delay-3 {
            transition-delay: 1s;
        }
        &.show {
            opacity: 1;
            transform: none;
        }
    }

    a > img {
        display: inline;
    }
    
</style>

<script>

// ANIMATIONS ON SCROLL
const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
        if (entry.isIntersecting) {
            entry.target.classList.add("show");
        } 
    });
});

const hiddenElements = document.querySelectorAll('.hidden');
hiddenElements.forEach((el) => observer.observe(el));

</script>