---
import { astroI18n } from "astro-i18n";

astroI18n.init(Astro);
---
<!doctype html>
<html>
	<head>
        <meta http-equiv="refresh" content={`0; url=/${astroI18n.langCode}/home`}>
    </head>
    <body>
        

    </body>
</html>
