---
import Layout from "../../layouts/Layout.astro";
import { astroI18n, t, l } from "astro-i18n";

astroI18n.init(Astro);
---

<Layout title={t("index/webp-title")}>
	<main>
		{t('bingus')}
	</main>
</Layout>

<style is:global>
	

</style>
