.thumbnail.hayu {
    
    width: 30vw;
    min-width: 200px;
    max-width: 300px;
    float: right;
    padding: none;
    margin-left: 1em;

    transform: rotate(10deg) translate(0, 0vw);

}
.katybox {
    display: inline-grid;
    
}
.picture.katy.city {
    grid-row: 1; grid-column: 1;
    width: 100%;
    max-width: 700px;
    transform: rotate(-10deg) translate(0, 0);
    transform-origin: center;
} 
.picture.katy.city.speech_bubble {
    grid-row: 1; grid-column: 1;
    /* width: 50%; */
    width: 50vw;
    transform: translate(0, 0);
    z-index: 1;
    max-width: 400px;

}
.text.katy.city.katysays {
    font-family: "MPLUS_bold";
    position: absolute;
    grid-row: 1; grid-column: 1;
    z-index: 2;
    padding-left: 5vw;
    padding-top: 0;
    font-size: 3vw;
}
.text.katy.city.katytext {
    font-family: "Kalam_bold";
    position: absolute;
    grid-row: 1; grid-column: 1;
    z-index: 2;
    padding-left: 5vw;
    padding-top: 5vw;
    transform: translate(0, 2vw);
    padding-bottom: 1vw;
    font-size: 2vw;
    width: 40vw;
}
@media screen and (min-width: 768px) {
    .text.katy.city.katysays {
        font-size: 24px;
        padding-left: 40px;
    }
    .text.katy.city.katytext {
        font-size: 16px;
        padding-left: 40px;
        padding-top: 40px;
        width: 300px;
    }
  }
@media only screen and (max-width: 480px) {
    .picture.katy.city {
        max-width: 100%; 
        height: auto; 
        margin: 0 auto;
    }
}
.infoboxtext {
    max-width: 700px;
}
