.thumbnail.hayu {
    width: 30vw;
    min-width: 200px;
    max-width: 300px;
    float: right;
    padding: none;

    transform: rotate(-10deg) translate(-5vw, 10px);

}
.picture.katy.city {
    width: 100%;
    margin: 0;
    max-width: 500px;
    float: center;
    padding: none;
    transform: rotate(10deg) translate(-5vw, 10px);

    transform-origin: center;
} 
@media only screen and (max-width: 480px) {
    .picture.katy.city {
        max-width: 100%; 
        height: auto; 
        display: block;
        margin: 0 auto;
    }
}
.infoboxtext {
    max-width: 700px;
}
