@font-face {
    font-family: MPLUS;
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Regular.ttf);
}
@font-face {
    font-family: MPLUS_bold;
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Medium.ttf);
}
@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Kalam_bold;
    src: url(../fonts/Kalam/Kalam-Bold.ttf);
}
@font-face {
    font-family: Cascadia;
    src: url(../fonts/CascadiaCode/CascadiaCode.ttf);
}
body {
    font-family: MPLUS;
    
    background-image: url("../img/bg/main.png");
    background-color: #0d001f;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    /*background-size: cover;*/

    /* disable gross and lame anti-aliasing */ 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
    
    margin: 0vw 2vw;
}
b {
    font-family: MPLUS_bold;
}
.warning {
    color: rgb(255, 104, 104);
}
.header.title {

    /*
    transform: rotate(5deg) ;
    position: relative;
    z-index: -2;
    */

    padding: 10px;

    text-align: center;
    background: #f9a38b;
    color: #ffffff;
    font-family: PressStart2P;
    font-size: 3vw; 
    line-height: 10%;
    /* line-height: 50%; 50px */
}


/* NAVBAR!! - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* Style the top navigation bar */
.navbar {
    z-index: 3;
    display: flex;
    background-color: #f46036; /* Dark background color */
    
}

/* Style the navigation bar links */
.navbar a, button {
    font: inherit;
    border: none;
    background-color: inherit;
    
    display: inherit; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px 10px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    
}

/* Right-aligned link */
.navbar a.right, button.right {
    float: right; /* Float a link to the right */
    margin-left: auto;
}

.navbar a:hover,button:hover {
    background-color: #e64d22; 
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
}
.navbar_clipboard_button_image:hover {
    content: url(../img/icon/copy.png);
}
.navbar_link_button_image:hover {
    content: url(../img/icon/link.png);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.simplelink {
    background-color: #00000000;
    font-family: inherit;
    text-decoration: none;
    color: #fff3a5; 

}
.simplelink:hover {
    background-color: #0000000f;
    font-family: inherit;
    text-decoration: underline;
    color: #ffd69c;
}
.simpletitle {
    font-size: clamp(1em, 3vw, 3em);
    padding-left: 1em;
}

/* DROPDOWN - - - - - - - - - - - - - - - - - - - - - -*/

.dropdown {
    position: relative;
    font-family: MPLUS;
    
}
.dropdown.lang {
    font-size: 20px;
    z-index: 10;
}
.dropdown-menu {
    position: absolute;
    left: 14px;
    top: 50px;
    background-color: #f46036; /* Dark background color */
    padding: .75rem; 
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out; transform: 50ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown.active > button, a {
    background-color: #e64d22; /* Grey background color */
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
}
.dropdown.active > a:hover,button:hover {
    background-color: #e64d22; /* Grey background color */
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
}

/* - IMG - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

img { 
    /* disable gross and lame anti-aliasing */ 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}


/* boxes and stuff */

.infobox {
    background-color: rgba(72, 72, 72, 0.811); /* Dark background color */
    color: white;
    padding: 14px 14px 14px 14px;
}
::selection {
    background: #00000071;
}
