@font-face {
    font-family: MPLUS;
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Regular.ttf);
}
@font-face {
    font-family: MPLUS_bold;
    src: url(../fonts/M_PLUS_1p/MPLUS1p-Medium.ttf);
}
@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: Kalam_bold;
    src: url(../fonts/Kalam/Kalam-Bold.ttf);
}
@font-face {
    font-family: Cascadia;
    src: url(../fonts/CascadiaCode/CascadiaCode.ttf);
}
@font-face {
    font-family: Exo2;
    src: url(../fonts/Exo2/Exo2-Medium.ttf);
}
@font-face {
    font-family: Exo2_Light;
    src: url(../fonts/Exo2/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2_Bold;
    src: url(../fonts/Exo2/Exo2-Bold.ttf);
}
@font-face {
    font-family: Zen;
    src: url(../fonts/Zen_Kurenaido/ZenKurenaido-Regular.ttf);
}
@font-face {
    font-family: DotGothic16;
    src: url(../fonts/DotGothic16/DotGothic16-Regular.ttf);
}
body {
    font-family: MPLUS;
    
    background-image: url("../img/bg/main.png");
    background-color: #0d001f;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    /*background-size: cover;*/

    /* disable gross and lame anti-aliasing */ 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
    
    margin: 0vw 2vw;
}
b {
    font-family: MPLUS_bold;
}
.warning {
    color: rgb(255, 104, 104);
}
.header.title {

    /*
    transform: rotate(5deg) ;
    position: relative;
    z-index: -2;
    */

    padding: 10px;

    text-align: center;
    background: #f9a38b;
    color: #ffffff;
    font-family: PressStart2P, DotGothic16;
    font-size: 3vw; 
    line-height: 10%;
    /* line-height: 50%; 50px */
}


/* NAVBAR!! - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* Style the top navigation bar */
.navbar {
    z-index: 3;
    display: flex;
    background-color: #f46036; /* Dark background color */
    
}

/* Style the navigation bar links */
.navbar a, button {
    z-index: 3;

    font: inherit;
    border: none;
    background-color: inherit;
    
    display: inherit; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px 10px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    
}

/* Right-aligned link */
.navbar a.right, button.right {
    z-index: 3;

    float: right; /* Float a link to the right */
    margin-left: auto;
}

.navbar a:hover,button:hover {
    background-color: #e64d22; 
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
    border-radius: 10px;
}
.navbar_clipboard_button:hover {
    content: url(../img/icon/copy.png);
}
.navbar_link_button:hover {
    content: url(../img/icon/link.png);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.simplelink {
    background-color: #00000000;
    font-family: inherit;
    text-decoration: none;
    color: #fff3a5; 
    
}
.simplelink:hover {
    background-color: #0000000f;
    font-family: inherit;
    text-decoration: underline;
    color: #ffd69c;
}
.simpletitle {
    font-size: clamp(2em, 4vw, 3em);
    padding: 0.5em 0em;
    font-family: "Exo2_bold";
    
}
.simplesubtitle {
    font-family: "Exo2";
    font-size: clamp(1.5em, 3vw, 2em);
    font-style: italic;
    padding: 0.5em 0em;
}


/* DROPDOWN - - - - - - - - - - - - - - - - - - - - - -*/

.dropdown {
    position: relative;
    font-family: MPLUS;
    
}
.dropdown.lang {
    font-size: 20px;
    z-index: 10;
}
.dropdown-menu {
    z-index: 3;
    position: absolute;
    left: 14px;
    top: 50px;
    background-color: #f46036; /* Dark background color */
    padding: .75rem; 
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    border-radius: 10px;
    border: solid 2px white;
    transition: opacity 150ms ease-in-out; transform: 50ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
    border-radius: 10px;
}

.dropdown.active > button, .dropdown.active > a {
    background-color: #e64d22; /* Grey background color */
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
    border-radius: 10px;
}
.dropdown.active > .dropdown.active > a:hover,button:hover {
    background-color: #e64d22; /* Grey background color */
    font-family: MPLUS;
    color: #ffffff; 
    text-decoration: underline;
    border-radius: 10px;

}

/* - IMG - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

img { 
    /* disable gross and lame anti-aliasing */ 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}


/* boxes and stuff */

.infobox {
    background-color: rgba(72, 72, 72, 0.811); /* Dark background color */
    color: white;
    padding: 14px 14px 14px 14px;
}
::selection {
    background: #00000071;
}


.placeholder {
    font-size: 2em;
}
/* 

*:hover {
    transform:rotate(1deg) scale(1.01) translateY(10px);
    animation: spin 10s infinite linear;
    font-family: 'Comic Sans MS';
}

  
@keyframes spin {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
  } */

