.huge_hayu {
    position: fixed;
    bottom: 0;
	right: 0;
	width: 30vw;
	height: auto;
    float: right;
    z-index: 100;
}
.infobox{
    transform: rotate(-4deg) translateY(50px);
}
.uh_oh {
    transform: rotate(8deg);
    animation: spinny 1.5s linear;
}
.uh_oh_404 {
    background-image: url("../img/bg/404.png");
}


@keyframes spinny {
    0% {
        transform: scale(1)  rotate(720deg); 
    }
    45% {
        transform: scale(3)  rotate(360deg); 
    }
    90% {
        transform:  scale(1)  rotate(0deg); 
    }



}