.interface {
    font-size: 1.5em;
}
.output_box {
    font-family: "MPLUS";
    width: 80%;
    padding: 0.5em;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
}
.command_line {
    margin: 0.5em;
    padding: 0.5em;
    font-family: "Courier";
    width: 50%;
}
