---
import Layout from "../layouts/Layout.astro";
import { astroI18n, t, l } from "astro-i18n";
astroI18n.init(Astro);

const getUrlList = async () => { 
    let pages = await Astro.glob("./en/**/*.astro");
    
    return pages.map((page) => {return page.url.replace("/en", "")});
}
const url_list = await getUrlList();
const supported_langs = astroI18n.langCodes;
---

<Layout title={t("404/webp-title")}>
	<main>
    <img class="sticky-img" src="/assets/img/art/hayu_404.png" alt="">

    <span class="bg-text">ERROR 404</span>
    <h2 class="h2-404">// uh oh!</h2>
    <h3 class="h3-404">you were redirected here :(</h3>
    <br> 
    <span class="explanation-404">it is likely that the page you are looking for is at a different URL, or does not exist.</span>
    <noscript>
      
      <p>
        ⚠️ This page uses JavaScript to automatically redirect users. Please use the following links to go to the appropriate homepage for your language.
      </p>
      <p>
        ⚠️ Esta página utiliza JavaScript para redirigir automáticamente a los usuari(o/a)s. Utilice los siguientes enlaces para ir a la página de inicio adecuada para su idioma.
      </p>
      <p>
        ⚠️ Cette page utilise JavaScript pour rediriger automatiquement les utilisateurs/euses. Veuillez utiliser les liens suivants pour accéder à la page d'accueil appropriée pour votre langue.
      </p>
      <p>
        ⚠️ このページはJavaScriptを使用してユーザーを自動的にリダイレクトします。この機能はあなたのブラウザでは利用できませんので、適切な言語のホームページに移動するために次のリンクをご利用ください。
      </p>

      <a href="/en/home">english &gt;</a> &nbsp;
      <a href="/en/home">español &gt;</a> &nbsp;
      <a href="/en/home">français &gt;</a> &nbsp;
      <a href="/en/home">日本語 &gt;</a> &nbsp;
    </noscript>
  </main>

  <span hidden class="_data">{JSON.stringify({url_list, supported_langs})}</span>

  <script src="/assets/js/autoRedirection404.js" defer />
  
</Layout>
<style>
  .bg-text {
    position: absolute;
    right: 0rem;
    top: 0rem;
    transform: rotate(-10deg) translateY(3rem) translateX(-1rem);
    color: var(--rgb-accent-to);
    z-index: -1;
    font-size: clamp(1rem, 10vw, 3rem);
  }
  main {
    position: relative;
    margin: 2rem;
    padding: 1rem;
    box-shadow: var(--rgb-accent-to) 0 0 5px;
    outline: var(--rgb-accent-to) 0.1rem solid;
    border-radius: 50px 0 50px 0;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h2, h3 {
    font-family: "Fira";
    animation: width-show 1s forwards;
    text-shadow: 0 0 1px var(--rgb-bg-to);
  }
  @keyframes width-show {
    0% {
      transform: translateX(-100%) translateY(0rem) rotate(35deg);
    }
    100% {
      transform: translateX(0%) translateY(0rem) rotate(5deg);
    }
  }

  .sticky-img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    transform: rotate(-10deg) translateY(3rem) translateX(-1rem);
  }
  
  @media (max-width: 720px) {
    .sticky-img {
      display: none;
    }
    .bg-text {
      display: none;
    }
  }
  
  
</style>

