@font-face {
    font-family: MPLUS;
    src: url(fonts/M_PLUS_1p/MPLUS1p-Regular.ttf);
}
@font-face {
    font-family: MPLUS_bold;
    src: url(fonts/M_PLUS_1p/MPLUS1p-Medium.ttf);
}
@font-face {
    font-family: PressStart2P;
    src: url(fonts/PressStart2P/PressStart2P-Regular.ttf);
}
body {
    font-family: MPLUS;
    background: #554c55;
}
.header {
    padding: 10px;
    text-align: center;
    background: #f9a38b;
    color: #ffffff;
    font-family: PressStart2P;
    font-size: 3vw; 
    line-height: 100%;
    /* line-height: 50%; 50px */
}
/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #f46036; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #f9a38b; /* Grey background color */
    font-family: MPLUS;
    color: #ffffff; 
}