--- 
import IconLink from "./IconLink.astro"
import { astroI18n, t, l } from "astro-i18n";
---


<footer>
    <div>
        <small>{t('footer/implemented-with')}</small>
        <IconLink icon="astro.png" href="https://astro.build/" alt="astroJS logo"/>
    </div>
    <div>
        <small>{t('footer/contact')}</small>
        <IconLink icon="mail.png" href="mailto:nishant.suria@gmail.com?subject = Feedback&body = Message" alt="mail logo"/>
    </div>
    
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem 2rem 0rem 0rem;
        gap: 1rem;
        padding: 1rem; 
    }
    footer > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
