---
interface Props {
	href: string;
    icon: string;
    alt: string;
}

const { href, icon, alt } = Astro.props;
---

<a href={href}>
    <img src={"/assets/img/icon/" + icon + ".png"} alt={alt}>
</a>

<style>
    img {
        aspect-ratio: 1;
        height: clamp(1rem, 7vw, 2rem);

    }
    a {
        height: 6vw;
        transition: ease-in-out 0.15s;
        height: clamp(1rem, 9vw, 2rem);

    }
    a:hover {
        animation: quickspin forwards 0.5s;
    }
    @keyframes quickspin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg) scale(1.25);
        }
    }
</style>