---
interface Props {
	href: string;
    icon: string;
    alt: string;
}

const { href, icon, alt } = Astro.props;
---

<a href={href}>
    <img src={"../../public/assets/img/icon/" + icon + ".png"} alt={alt}>
</a>

<style>
    img {
        aspect-ratio: 1;
        height: 2rem;

    }
    a {
        height: 2rem;
    }
</style>