---
interface Props {
	href: string;
    icon: string;
    alt: string;
}

const { href, icon, alt } = Astro.props;
---

<a href={href}>
    <img src={"/assets/img/icon/" + icon } alt={alt}>
</a>

<style>
    img {
        aspect-ratio: 1;
        transform: translateY(0.25em);
        height: 1.5em;

    }
    a {
        height: 1em;
        transition: ease-in-out 0.15s;
        height: clamp(1rem, 9vw, 2rem);

    }
    a > img {
        transition: ease-in-out 0.15s;
        
    }
    a:hover > img {
        transform: translateY(0.25em) scale(1.1);
    }
    
</style>