body {
    font-family: "Cascadia"; 
    background-color: black;
    background-image: none;
}
.infobox.abysscloud {
    margin: 1em;
    outline: 2px solid white;
    border-radius: 5px;
    background-color: #00000000
}
h1 {
    margin: 0;
}
p {
    margin: 1em;
}
a {
    color: orange
}
.infobox.abysscloud {
    color: white;
    display: block;
    font-weight: 300; 
}
.icon_box {
    display: grid;
    grid-auto-flow: column;
    height: 3vw;
    width: min-content;
    margin: 0px 10px;
}
.icon_box > a {
    width: 3vw;
    margin: 1vw;
}
.icon_box > a > img{
    width: 3vw;
    aspect-ratio: 1;
}
.icon_box > a:hover {
    transform: scale(1.25);
}

::selection {
    background: rgba(255, 255, 255, 0.4); /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(255, 255, 255, 0.4); /* Gecko Browsers */
  }

/* CODE STUFF */

code {
    margin: 0 3em;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    background-color: rgb(87, 87, 87);
    color: rgb(126, 255, 126);
}
.blue {
    color: rgb(126, 229, 255);

}
.ign {
    font-size: 0;
}

.code_block {
    margin: 0 3em;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    background-color: rgb(87, 87, 87);
    color: rgb(126, 255, 126);
}
